<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Upload</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <ion-card>
    <input type="file" #fileInput id="image-upload" accept=".jpeg, .jpg"
           (change)="processWebImage($event)"/>
    <div class="image-wrapper" (click)="getPicture()">
      <div class="image-placeholder" *ngIf="!this.image">
        <ion-icon name="camera"></ion-icon>
        <div>
          {{'CHOOSE_PICTURE' | translate}}
        </div>
      </div>
      <!--<div class="offering-image" [style.backgroundImage]="getOfferingImage()" *ngIf="this.form.controls.offeringPic.value"></div>-->
      <img [src]="getOfferingImage()" *ngIf="this.image"/>
    </div>
  </ion-card>
  <button id="upload-button" ion-button color="stable" block
          [disabled]="!image" (click)="uploadFile()">
    Upload
  </button>
</ion-content>
