<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{partner.firstname}} {{partner.lastname | slice:0:1}}.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
    <div *ngIf="user._id !== message.from._id">
      <img (click)="viewProfile(message.from._id)" class="profile-pic left" [src]="partnerImage || 'assets/img/user_fallback_avatar.png'">
      <div class="chat-bubble left slide-left">
        <div class="message">{{message.content}}
        </div>
        <div class="message-detail">
          <span>{{message.timestamp | date:'short'}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="user._id === message.from._id">
      <img (click)="viewProfile(message.from._id)" class="profile-pic right" [src]="userImage || 'assets/img/user_fallback_avatar.png'">
      <div class="chat-bubble right slide-right">
        <div class="message">{{message.content}}
        </div>
        <div class="message-detail">
          <span>{{message.timestamp | date:'short'}}</span>
        </div>
      </div>
    </div>
    <div class="cf"></div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input placeholder="{{sendMessagePlaceholder}}" [(ngModel)]="newMessage">
    </ion-input>
    <button item-right ion-button clear icon-only (click)="sendMessage()">
      <ion-icon name="send" class="footer-btn"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
