<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="page == 'main'">
  <img class="header-image" src="../../assets/img/queen-live.png" >
  <div class="main-content" text-wrap text-center>
    <div class="circular">
      <img src="../../assets/img/marty-avatar.png">
    </div>

    <h2>Peter Müller</h2>
    <p class="profile-description">I save the wrap and the world!</p>
    <hr>
    <ion-list no-lines>
      <button ion-button block [navPush]="subSettings" [navParams]="notificationsSettings">{{'SETTINGS_NOTIFICATIONS'|translate}}</button>
      <button ion-button block [navPush]="subSettings" [navParams]="profileSettings">{{'SETTINGS_PROFILE'|translate}}</button>
      <button ion-button block [navPush]="subSettings" [navParams]="locationSettings">{{'SETTINGS_LOCATION'|translate}}</button>
      <button ion-button block>{{'SETTINGS_LOGOUT'|translate}}</button>
    </ion-list>
  </div>
</ion-content>

<ion-content *ngIf="page == 'notifications'">
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>Email</p>
        123test@email.com
      </ion-item>
      <button ion-button block>{{'SAVE'|translate}}</button>
    </ion-list>
</ion-content>

<ion-content *ngIf="page == 'profile'">
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>Email</p>
        123test@email.com
      </ion-item>
      <button ion-button block>{{'SAVE'|translate}}</button>
    </ion-list>
    <button ion-button block color="danger" (click)="deleteAccount(user)">Delete Account</button>
</ion-content>

<ion-content *ngIf="page == 'location'">
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>Email</p>
        123test@email.com
      </ion-item>
      <button ion-button block>{{'BUTTON_SAVE'|translate}}</button>
    </ion-list>
</ion-content>
