page-settings {

  .header-image {
    //background-image: url(../../assets/img/background/background-2.jpg);
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
    object-fit: cover;
    object-position: center;

  }
  .main-content {
    margin-top: -20px;
    padding: 20px;
    background-color: white;
    // background: #F5F5F5;
    position: relative !important;
  }
  .circular {
    width: 200px;
    height: 200px;
    position: inherit;
    border-radius: 50%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: solid white;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    background: map-get($colors, secondary);


    img{
      height: 200px;
      width: 200px;


      object-fit: cover;

      object-position: center;

      position: inherit;
      //height: 100%;

      //border-radius: 50%;
    }

  }
  .profile-description {
    font-size: 15px;
    color: #888;
  }
}
