<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sharePage()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="profile">
    <img *ngIf="page == 'main'" class="header-image" [src]="header || 'assets/img/user_fallback_avatar.png'" (click)="changeHeader()">

    <div *ngIf="page == 'main'" class="content-main" text-wrap>
      <div class="circular">
        <img [src]="avatar || 'assets/img/user_fallback_avatar.png'">
        <div *ngIf="ownProfile" class="overlay" (click)="getPicture()">
          <a class="icon">
            <ion-icon name="build"></ion-icon>
          </a>
        </div>
      </div>
      <ion-card text-center [navPush]="subSettings" [navParams]="nameDescSettings">
        <ion-card-header>
          <h1 *ngIf="profile.firstname || profile.lastname">{{profile.firstname}} {{profile.lastname}}</h1>
          <h1 *ngIf="!profile.firstname && !profile.lastname">Dein Name</h1>
        </ion-card-header>
        <ion-card-content>
          <p class="profile-description" *ngIf="profile.description">{{profile.description}}</p>
          <p class="profile-description" *ngIf="!profile.description && ownProfile">{{'SETTINGS.NO_DESCRIPTION'|translate}}</p>
          <p class="profile-description" *ngIf="!profile.description && !ownProfile">{{'PROFILE.NO_DESCRIPTION'|translate}}</p>
        </ion-card-content>
      </ion-card>
      <ion-card text-center>
        <ion-card-header>{{'PROFILE.BADGES'|translate}}</ion-card-header>
        <ion-grid text-center class="badges" *ngIf="profile.badges.length > 0">
          <ion-row>
            <ion-col *ngFor="let badge of profile.badges" col-3>
              <ion-icon [name]="getBadgeType(badge)" [color]="'primary'" (click)="showBadgeInfo(badge)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        <span *ngIf="profile.badges.length == 0 && ownProfile">
          <p>{{'SETTINGS.NO_BADGES_1'|translate}}</p>
          <p>{{'SETTINGS.NO_BADGES_2'|translate}}</p>
        </span>
        <span *ngIf="profile.badges.length == 0 && !ownProfile">
          <p>{{user.firstname}} {{'PROFILE.NO_BADGES'|translate}}</p>
        </span>
      </ion-card>
      <ion-card *ngIf="ownProfile">
        <ion-card-header>{{'SETTINGS.PROFILE'|translate}}</ion-card-header>
        <ion-item-group>
          <button ion-item>
            <ion-icon name="mail" item-start></ion-icon>
            {{this._auth.isLoggedIn()?this._auth.getActiveUserEmail():''}}
          </button>
          <button ion-item [navPush]="subSettings" [navParams]="phoneSettings">
            <ion-icon name="call" item-start></ion-icon>
            <span *ngIf="profile.phone">{{profile.phone}}</span>
            <span *ngIf="!profile.phone">{{'SETTINGS.PHONE'|translate}}</span>
          </button>
          <button ion-item [navPush]="subSettings" [navParams]="locationSettings">
            <ion-icon name="map" item-start></ion-icon>
            {{'SETTINGS.LOCATION'|translate}}
          </button>
        </ion-item-group>
      </ion-card>
      <ion-card *ngIf="ownProfile">
        <ion-card-header>{{'SETTINGS.NOTIFICATIONS'|translate}}</ion-card-header>
        <ion-item-group>
          <button ion-item detail-none>
            <ion-label>{{'NOTIFICATIONS_FRIEND'|translate}}</ion-label>
            <ion-toggle></ion-toggle>
          </button>
          <button ion-item detail-none>
            <ion-label>{{'NOTIFICATIONS_FOOD'|translate}}</ion-label>
            <ion-toggle></ion-toggle>
          </button>
          <button ion-item detail-none>
            <ion-label>{{'NOTIFICATIONS_MESSAGE'|translate}}</ion-label>
            <ion-toggle></ion-toggle>
          </button>
          <button ion-item detail-none>
            <ion-label>{{'NOTIFICATIONS_RECIPE'|translate}}</ion-label>
            <ion-toggle></ion-toggle>
          </button>
        </ion-item-group>
      </ion-card>
      <ion-card *ngIf="ownProfile" text-center>
        <ion-list>
          <button ion-item color="secondary" (click)="logout()">
            {{'SETTINGS.LOGOUT'|translate|uppercase}}
          </button>
          <button ion-item color="danger">
            {{'PROFILE.DELETE_ACCOUNT'|translate|uppercase}}
          </button>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf="page == 'location'" class="content-location" text-wrap text-center>
      <div #map id="map"></div>
      <form [formGroup]="locationForm" class="text-location">
        <ion-list>
          <h3>{{'DEFAULT_PICKOFF_LOCATION'|translate}}</h3>
          <ion-item>
            <ion-input
              placeholder="{{'STREET'|translate|uppercase}}"
              formControlName="street"></ion-input>
            <ion-input
              placeholder="{{'NUMBER'|translate|uppercase}}"
              formControlName="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              placeholder="{{'ZIP'|translate|uppercase}}"
              formControlName="zip"></ion-input>
            <ion-input
              placeholder="{{'CITY'|translate|uppercase}}"
              formControlName="city"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button block (click)="useEnteredLocation()">{{'USE_ENTERED_LOCATION'|translate}}</button>
        <button ion-button block color="secondary" (click)="saveData(this.locationForm)">{{'SAVE'|translate}}</button>
      </form>
    </div>

    <!--<div *ngIf="page == 'email'" class="content-location" text-wrap text-center>-->
      <!--<form [formGroup]="emailForm" class="text-location">-->
        <!--<ion-item>-->
          <!--<ion-label>-->
            <!--<ion-icon name="mail" item-start></ion-icon>-->
          <!--</ion-label>-->
          <!--<ion-input-->
            <!--placeholder="{{'EMAIL'|translate|uppercase}}"-->
            <!--formControlName="email"></ion-input>-->
        <!--</ion-item>-->
        <!--<button ion-button block color="secondary" (click)="saveData(this.emailForm)">{{'SAVE'|translate}}</button>-->
      <!--</form>-->
    <!--</div>-->

    <div *ngIf="page == 'phone'" class="content-location" text-wrap text-center>
      <form [formGroup]="phoneForm" class="text-location">
        <ion-item>
          <ion-label>
            <ion-icon name="call" item-start></ion-icon>
          </ion-label>
          <ion-input
            placeholder="{{'PHONE'|translate|uppercase}}"
            formControlName="phone"></ion-input>
        </ion-item>
        <button ion-button block color="secondary" (click)="saveData(this.phoneForm)">{{'SAVE'|translate}}</button>
      </form>
    </div>

    <div *ngIf="page == 'nameDesc'" class="content-location" text-wrap text-center>
      <form [formGroup]="nameDescForm" class="text-location">
        <ion-item>
          <ion-label>
            <ion-icon name="person" item-start></ion-icon>
          </ion-label>
          <ion-input
            placeholder="{{'FIRSTNAME'|translate|uppercase}}"
            formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="person" item-start></ion-icon>
          </ion-label>
          <ion-input
            placeholder="{{'LASTNAME'|translate|uppercase}}"
            formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="browsers" item-start></ion-icon>
          </ion-label>
          <ion-textarea
            placeholder="{{'DESCRIPTION'|translate|uppercase}}"
            formControlName="description"></ion-textarea>
        </ion-item>
        <button ion-button block color="secondary" (click)="saveData(this.nameDescForm)">{{'SAVE'|translate}}</button>
      </form>
    </div>
  </div>
</ion-content>
