<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'OFFERING_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="toggle" class="blureffect" (click)="fab.close(); toggle=false">
  </div>

  <ion-card *ngFor="let item of cardItems" (click)="openItem(item)">
    <div style="position: relative;">
      <img [src]="item.image">

      <ion-fab right bottom edge>
        <button ion-fab fab-map color="primary">
          <ion-icon name='restaurant'></ion-icon>
        </button>
      </ion-fab>
    </div>

    <ion-item>
      <h1  padding-top ion-text text-wrap>{{item.header}}</h1>
      <!--<p>{{item.date}} </p>-->
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small >
          <ion-note>11h ago</ion-note>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="pin"></ion-icon>
          <div>{{item.distance}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small >
          <ion-icon name="restaurant"></ion-icon>
          <div>{{item.cum_savoods}}</div>
        </button>
      </ion-col>

    </ion-row>
  </ion-card>
</ion-content>
