page-welcome {

  ion-content {
    background-color: map-get($colors, secondary);
  }
  img {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  .scroll-content{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .map{
    height: 45vh;
    width: 100%;
  }

  .error{
    color:map-get($colors,danger);
  }
}
