<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="page == 'offerings'">{{ pageTitle }}</ion-title>
    <ion-title *ngIf="page == 'chats'"> {{currentOffering.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="page == 'offerings' && offerings">
    <button *ngFor="let offering of offerings" ion-item (click)="openChatOverview(offering)">
      <ion-avatar item-start>
        <img [src]="offering.avatarId">
      </ion-avatar>
      <h2>{{offering.name | slice:0:20}}<span *ngIf="offering.name.length > 20">...</span></h2>
      <h3 class="chat-info" item-end>3 Chats</h3>
    </button>
  </ion-list>

  <ion-list *ngIf="page == 'chats' && chats">
    <button *ngFor="let chat of chats" ion-item (click)="openChat(chat._id, chat.partner)">
      <ion-avatar item-start>
        <img [src]="chat.partner.avatarId">
      </ion-avatar>
      <h2>{{chat.partner.firstname}} {{chat.partner.lastname}}</h2>
      <h3 class="chat-info" item-end>{{chat.offeringId.length}} {{"OFFERING"|translate}}</h3>
    </button>
  </ion-list>
</ion-content>
