<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="page == 'startOverview'">{{ pageTitle }}</ion-title>
    <ion-title *ngIf="page == 'chats'"> {{currentOffering.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Segments: Displayed when intially loaded, no further action taken -->
  <div *ngIf="page == 'startOverview'">
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="offerings">
        Savoods
      </ion-segment-button>
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- OfferingOverview: See feedings related to the user -->
  <ion-list *ngIf="page == 'startOverview' && offerings && tab == 'feed'">
    <button *ngFor="let offering of offerings" ion-item (click)="openChatOverview(offering)">
      <ion-avatar item-start>
        <img [src]="offering.avatarId">
      </ion-avatar>
      <h2>{{offering.name | slice:0:20}}<span *ngIf="offering.name.length > 20">...</span></h2>
      <h3 class="chat-info" item-end [ngPlural]="3">
        <ng-template ngPluralCase="=0">keine {{"CHATS"|translate}}</ng-template>
        <ng-template ngPluralCase="=1">1 {{"CHAT"|translate}}</ng-template>
        <ng-template ngPluralCase="other">3 {{"CHATS"|translate}}</ng-template>
      </h3>
    </button>
  </ion-list>

  <!-- ChatOverview: See all chats related to the user -->
  <ion-list *ngIf="page == 'startOverview' && tab == 'chats' && chats">
    <button *ngFor="let chat of chats" ion-item (click)="openChat(chat._id, chat.partner)">
      <ion-avatar item-start>
        <img [src]="chat.partner.avatarId">
      </ion-avatar>
      <h2>{{chat.partner.firstname}} {{chat.partner.lastname}}</h2>
      <h3 class="chat-info" item-end [ngPlural]="chat.offeringId.length">
        <ng-template ngPluralCase="=0">keine {{"OFFERINGS"|translate}}</ng-template>
        <ng-template ngPluralCase="=1">{{chat.offeringId.length}} {{"OFFERING"|translate}}</ng-template>
        <ng-template ngPluralCase="other">{{chat.offeringId.length}} {{"OFFERINGS"|translate}}</ng-template>
      </h3>
    </button>
  </ion-list>

  <!-- OfferingChatOverview: See all chats related to an offering related to you -->
  <ion-list *ngIf="page == 'chats' && offeringChats">
    <button *ngFor="let chat of offeringChats" ion-item (click)="openChat(chat._id, chat.partner)">
      <ion-avatar item-start>
        <img [src]="chat.partner.avatarId">
      </ion-avatar>
      <h2>{{chat.partner.firstname}} {{chat.partner.lastname}}</h2>
      <h3 class="chat-info" item-end [ngPlural]="chat.offeringId.length">
        <ng-template ngPluralCase="=0">keine {{"OFFERINGS"|translate}}</ng-template>
        <ng-template ngPluralCase="=1">{{chat.offeringId.length}} {{"OFFERING"|translate}}</ng-template>
        <ng-template ngPluralCase="other">{{chat.offeringId.length}} {{"OFFERINGS"|translate}}</ng-template>
      </h3>
    </button>
  </ion-list>
</ion-content>
