page-cards {

  $fab-list-button-background-color : #000000


}

.blur {
  opacity: 0;
  display: none;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.blureffect {
  min-width: 100vw;
  min-height: 100%;
  position:fixed;
  background:rgba(255, 255, 255, 0.85);
  z-index: 100;

  filter: blur(3px);
}

.fab_buttons{
  margin-bottom: 40vh;
}
